.footer{
    height: 13vh;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 25px;
    .socials{
        display: grid;
        gap: 10px;
        text-align: center;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }
    .links{
        display: grid;
        gap: 10px;
        text-align: center;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }
}